body {
    background-color: #FFE2D6;
    font-family: Verdana;
}

.header {
    margin: auto;
    width: 100%;
    text-align: center;
}

.header h1 {
    color: #111;
    font-family: Arial;
}

.navbar {
    margin: auto;
    text-align: center;
}

#nav-links {
    list-style-type: none;
    display: flex;
    margin: auto;
    width: 25%;
    background-color: #F5FFFA;
    border-radius: 2px;
}

#nav-links li{
    border-right: 1px solid #111;
    padding: 1rem;
    height: 90%;
    font-weight: bold;
}
  
#nav-links li:last-of-type {
    border-right: none;
}

.navbar-button {
    display: inline-block;
}

.portfolio-element {
    background-color: #20B2AA;
    border-style: solid;
    border-width: 1px;
    border-color: #008B8B;
    border-radius: 2px;
    min-height: 325px;
    margin: 5px;
}

.portfolio-image {
    float: left;
    height: 315px;
    padding: 5px;
}

.portfolio-video {
    float: left;
    height: 315px;
    padding: 5px;
}

.portfolio-text {
    background-color: #F5FFFA;
    padding-left: 50px;
    padding-right: 50px;
    margin: 5px;
    display: inline-block;
    min-height: 315px;
    max-width: 750px;;
}

.portfolio-text ul {
    display: block;
    list-style-type: disc;
    list-style-position: inside;
}