code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: oklch(0.918003 0.0186 123.72);
  font-family: Verdana;
}

/* Header */
.header {
  margin: auto;
  width: 100%;
  text-align: center;
}

.header h1 {
  color: #111;
  font-family: Arial;
}

.header p {
  margin: auto;
  max-width: 75%;
}

/* Navigation */
.navbar {
  text-align: center;
  margin: 0px;
  margin-bottom: 1em;
}


.nav-links img {
  padding-right: 5px;
}

.nav-links li {
  list-style-type: none;
  display: inline-block;
  margin: 10px;
  padding: 0px;
  font-weight: bold;
  color: black;
  vertical-align: middle;
}

/* Portfolio Entries */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
}

.portfolio-element {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  background-color: #F5FFFA;
  border-style: solid;
  border-width: 1px;
  border-color: #008B8B;
  border-radius: 2px;
  min-width: 0;
  max-width: 570px;
  padding-top: 5px;
}

.portfolio-media {
  display: block;
  height: 315px;
  margin: auto;
}

.portfolio-text {
  background-color: #F5FFFA;
  padding: 5px;
  margin: 5px;
}

.tag-list {
  margin: 5px 0;
  padding: 0;
}

.tag {
  display: inline-block;
  background-color: #FFE2D6;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}
